@model DynamicEcommerce.Models.Order.OrderIndexModel

    <div class="container">
        <div class="d-flex">
            <h1>All Order History</h1>
        </div>
        <div class="d-flex">
            <a class="category-sidebar-link @(@ViewBag.Category == 0 ? "nav-link-active" : "")" asp-controller="Order" asp-action="Index">View All</a>
            @foreach (var category in ViewBag.Categories)
            {
                <a class="category-sidebar-link @(@ViewBag.Category == category.Id ? "nav-link-active" : "")" asp-controller="Order" asp-action="Category" asp-route-id="@category.Id">@category.Name</a>
            }
        </div>
        <div class="d-flex">
            <table class="table table-hover" id="orderTable">
                <thead>
                    <tr>
                        <th>
                            Order No
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total Amount
                        </th>
                        <th>
                            Purchase Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>
                                @order.No
                            </td>
                            <td>
                                @order.UserEmail
                            </td>
                            <td>
                                @order.Product.Name
                            </td>
                            <td>
                                @order.Quantity
                            </td>
                            <td>
                                @order.Total
                            </td>
                            <td>
                                @order.Created
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>